@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CMaterial+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/commons.css" />
    <link rel="stylesheet" href="~/dist/app.css" />
</head>

<body>
    <div id="app">

    </div>
    <script type="text/javascript" src="~/dist/commons.js"></script>
    <script type="text/javascript" src="~/dist/app.js"></script>
</body>

</html>
